<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/header.ejs') %>
</head>
<body>
<div class="center">
  <p id="result" class="<%= status.replace(/ /, '') %>">
    <a href="<%= summaryLink %>"><%= status %></a>
  </p>
  <p id="score>">
      <%= summaryLink.includes('basketball') ? 'Men\'s Basketball' : summaryLink.includes('football') ? 'Football' : '' %><%= score ? ` ▸ UVA: ${score}` : '' %><%= competitor ? ` - ${competitor}` : ''  %><%= competitorScore ? `: ${competitorScore}` : '' %><%= locals.time ? ` (${time})` : '' %>
  </p>
  <p id="nextGame">
      Next: <%= nextEvent %>
  </p>
</div>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</body>
</html>
